* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 20px;
  overflow: hidden;
}

p{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#osm-wms {
  margin-right: 10px;
}
#vector-wms {
  margin-right: 10px;
}

#ulice-wms {
  margin-right: 10px;
}

#dzialki-wms {
  margin-right: 10px;
}

#ortoHD-wms {
  margin-right: 10px;
}

#cieniowanie-wms {
  margin-right: 10px;
}
#jaskinie-wms {
  margin-right: 10px;
}

#szlaki-wms {
  margin-right: 10px;
}

.sidebar {
  margin-left: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 100vh;
}

.map {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  width: 150px;
}

.grid-1 {
  background: #d3d3d3;
}

#aboutbutton {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: all 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navi_block {
  margin-top: 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#clearbtn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 85%;
  margin-top: 10px;
}

#aboutbutton:hover {
  opacity: 1;
  transition: all 0.5s;
}

.wrapper-visible {
  display: block;
}

.wrapper-unvisible {
  display: none;
}

#pop {
  padding-left: 50px;
  padding-right: 50px;
}

#mouse-position {
  position: fixed;
  top: 95%;
  left: 50%;
  z-index: 1000;
  text-decoration: underline;
}

#aboutdiv {
  position: absolute;
  left: 22px;
  bottom: 20px;
}

#type {
  width: 85%;
  height: 25px;
  text-align: center;
  border-radius: 5px;
}

#projection {
  width: 85%;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  
}

#precision {
  width: 85%;
  height: 25px;
  text-align: center;
  border-radius: 5px;
}

#measurement_div {
  margin-top: 10px;
  display: block;
}

#download_pdf {
  position: absolute;
  top: 150px;
  right: 54px;
  z-index: 10;
  opacity: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

#customize_data {
  position: absolute;
  top: 205px;
  right: 54px;
  z-index: 10;
  opacity: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

#create_marker {
  position: absolute;
  top: 260px;
  right: 54px;
  z-index: 10;
  opacity: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

#download_pdf:hover {
  opacity: 100%;
  transition: all 0.5s;
}

#customize_data:hover {
  opacity: 100%;
  transition: all 0.5s;
}

#create_marker:hover {
  opacity: 100%;
  transition: all 0.5s;
}

.ol-rotate {
  visibility: hidden;
}

.ol-zoom.ol-unselectable.ol-control {
  visibility: hidden;
}

.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  visibility: hidden;
}

/* Popup */

#wrapper-trails {
  position: absolute;
  overflow: hidden;
  width: 450px;
  top: 15%;
  left: 80%;
  border-radius: 10px;
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: transparent;
}

#wrapper-trails header {
  color: red;
  font-size: 23px;
  font-weight: 520;
  padding: 17px 30px;
  border-bottom: 1px solid #bfbfbf;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

#wrapper-trails .content {
  margin: 30px 30px 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper-trails .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.75;
  z-index: -1;
}

#wrapper-trails header .btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  background-color: #ff0000;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  opacity: 0.5;
  transition: all 0.5s;
}

#wrapper-trails header .btn-close:hover {
  opacity: 1;
  transition: all 0.5s;
}

/* Popup About*/

#wrapper-about {
  position: absolute;
  overflow: hidden;
  width: 850px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: transparent;
}

#wrapper-about header {
  color: red;
  font-size: 23px;
  font-weight: 520;
  padding: 17px 30px;
  border-bottom: 1px solid #bfbfbf;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  cursor: move;
}

#wrapper-about .content {
  margin: 30px 30px 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper-about .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.75;
  z-index: -1;
}

#wrapper-about header .btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  background-color: #ff0000;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  opacity: 0.5;
  transition: all 0.5s;
}

#wrapper-about header .btn-close:hover {
  opacity: 1;
  transition: all 0.5s;
}

/* Popup Customize*/

#wrapper-customize {
  position: absolute;
  overflow: hidden;
  width: 850px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: transparent;
}

#wrapper-customize header {
  color: red;
  font-size: 23px;
  font-weight: 520;
  padding: 17px 30px;
  border-bottom: 1px solid #bfbfbf;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  cursor: move;
}

#wrapper-customize .content {
  margin: 30px 30px 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper-customize .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.75;
  z-index: -1;
}

#wrapper-customize header .btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  background-color: #ff0000;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  opacity: 0.5;
  transition: all 0.5s;
}

#wrapper-customize header .btn-close:hover {
  opacity: 1;
  transition: all 0.5s;
}

.row {
  margin: 30px 30px 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.column {
  flex: 50%;
}

input[type="range"] {
  width: 170px;
  margin: 0;
  accent-color: #ff0000;
}

#pet-select{
 width: 170px;
 border: none;
 padding-left: 5%;
}